body {
	font-size: 13px;

	background: url(img/background.jpg) no-repeat center center fixed;
	font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;

	@media (max-width:768px) {
		background: url(img/background.jpg) no-repeat center center fixed;
	}

	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

	color: #FFFFFF;

	.gradient-color {
		background: linear-gradient(to right, #7abab6 0%, #7ab1ba 100%) repeat scroll 0% 0% transparent;
	    opacity: 0.7;
	}
	.gradient-color {
	    bottom: 0;
	    left: 0;
	    right: 0;
	    top: 0;
	    position: fixed;
	    z-index: 2;
	}

	#fullpage {
		z-index:9999;

		h1 {
			@media (max-width:768px) {
				font-size: 1.5rem;
			}

			@media (max-width:320px) {
				font-size: 1rem;

				.sub.header {
					font-size:0.6rem;
				}
			}
		}

		.ui.header {
			color: #FFFFFF;

			.sub.header {
				color: #FFFFFF;
			}
		}

		.ui.list.contact-us {
			margin-top: 50px;
			.content {
				.header {
					color: #EEEEEE;
				}
			}
		}

		.footer {
			font-size:12px;
			position: fixed;
			bottom: 10px;
			width:100%;
			text-align:center;
		}
	}
}
